menu "Customer feature"

config TCSUPPORT_CT
	bool
	default y
	help
		support China Telecom

		
config TCSUPPORT_C1_CUC
	bool "TCSUPPORT_C1_CUC Support"
	help
		support China Unicom for ZyXEL
	
config TCSUPPORT_CT_PORT_BIND
	depends on TCSUPPORT_PORTBIND
	bool "TCSUPPORT_CT_PORT_BIND Support"
	help
		CT_PORT_BIND support
	
config TCSUPPORT_CT_SWQOS
	depends TCSUPPORT_QOS
	bool "TCSUPPORT_CT_SWQOS Support"
	help
		support CT software QoS

config TCSUPPORT_CT_URL_FILTER
	bool "TCSUPPORT_CT_URL_FILTER Support"
	help
		support CT URL Filter
		
config TCSUPPORT_PPPOE_SIMULATE
	bool "TCSUPPORT_PPPOE_SIMULATE Support"
	help
		support PPPOE SIMULATE
		
config TCSUPPORT_EPON_OAM_CUC
	depends on TCSUPPORT_CUC
	bool "TCSUPPORT_EPON_OAM_CUC Support"
	help
		support TCSUPPORT_EPON_OAM_CUC
	
config TCSUPPORT_CT_HWNAT_OFFLOAD
	depends on TCSUPPORT_CPU_MT7510 || TCSUPPORT_CPU_MT7520
	bool "TCSUPPORT_CT_HWNAT_OFFLOAD Support"
	help
		support CT HWNAT OFFLOAD

config TCSUPPORT_CT_PPPOEPROXY
	depends on TCSUPPORT_PORTBIND
	bool "TCSUPPORT_CT_PPPOEPROXY Support"
	help
	      CT_PPPOEPROXY support

config TCSUPPORT_CT_ACCESSLIMIT 
	depends on TCSUPPORT_CT && TCSUPPORT_PORTBIND 
	bool "TCSUPPORT_CT_ACCESSLIMIT  Support"
	help
	      tr069 feature(access limit) for chinatelecom

config TCSUPPORT_CT_NETWORKMANAGESERVICE
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_NETWORKMANAGESERVICE Support"
	help
	      modify web,ftp and telent login auth

config TCSUPPORT_CT_QOS
	depends TCSUPPORT_QOS
	bool "TCSUPPORT_CT_QOS Support"
	help
		china telecom qos support

config TCSUPPORT_CT_MIDWARE
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	bool "TCSUPPORT_CT_MIDWARE Support"
	help
		 CT_Midware support
		 
config TCSUPPORT_CT_LOOPDETECT
	bool "TCSUPPORT_CT_LOOPDETECT Support"
	help
		 loop detect support		 

config TCSUPPORT_CT_BUTTONDETECT
	bool "TCSUPPORT_CT_BUTTONDETECT Support"
	help
		 wlan/wps button detect support

config TCSUPPORT_CT_RATE_PRIOR_SUPPORT
	bool "TCSUPPORT_CT_RATE_PRIOR Support"
	depends on TCSUPPORT_CT
	help
		 wlan mcs3 access limit support
		 		 		 
config TCSUPPORT_CT_BACKUPROMFILEENCHANCEMENT
	bool "TCSUPPORT_CT_BACKUPROMFILEENCHANCEMENT Support"
	depends on TCSUPPORT_BACKUPROMFILE && TCSUPPORT_CT
	help
	      support romfile crc checksum

config TCSUPPORT_CT_BOOTLOADER_UPGRADE
    depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_BOOTLOADER_UPGRADE Support"
	help
		  Authentication of Upgrade Firmware through Bootloader

config TCSUPPORT_CT_E8DDNS
    depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_E8DDNS Support"
	help
		  support for E8B DDNS
	
config TCSUPPORT_CT_E8GUI
	bool "TCSUPPORT_CT_E8GUI Support"
	help
	      CT E8 customer feature

config TCSUPPORT_CT_GUIPSWSHOW
	depends on TCSUPPORT_CT_E8GUI
	bool "TCSUPPORT_CT_GUIPSWSHOW Support"
	help
		support for E8 PSW show

config TCSUPPORT_CT_FW_UPGRADE_16M
	depends on TCSUPPORT_CT_E8GUI
	bool "TCSUPPORT_CT_FW_UPGRADE_16M Support"
	help
		upgrade 16M firmware
		  
choice
	prompt "CT_E8BGUI or CT_E8CGUI Selected"
	depends TCSUPPORT_CT_E8GUI
	default TCSUPPORT_CT_E8GUI_ONLY
config TCSUPPORT_CT_E8GUI_ONLY
	depends TCSUPPORT_CT_E8GUI
	bool "TCSUPPORT_CT_E8GUI_ONLY Support"
	help
	      CT E8 ONLY customer feature

config TCSUPPORT_CT_E8BGUI
	depends TCSUPPORT_CT_E8GUI
	bool "TCSUPPORT_CT_E8BGUI Support"
	help
	      CT E8B customer feature

config TCSUPPORT_CT_E8CGUI
	depends TCSUPPORT_CT_E8GUI
	bool "TCSUPPORT_CT_E8CGUI Support"
	help
	      CT E8C customer feature
endchoice

config TCSUPPORT_CT_GUI_ENGLISH
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_GUI_ENGLISH Support"
	help
		CT support English GUI.


config TCSUPPORT_RIPD
	bool "TCSUPPORT_RIPD Support"
	help
	      Dynamic route feature support

config TCSUPPORT_CT_PORTAL_MANAGEMENT
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_PORTAL_MANAGEMENT Support"
	help
	     support ct_com portal


config TCSUPPORT_CT_IPPINGDIAGNOSTIC
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_IPPINGDIAGNOSTIC Support"
	help 
		tr069 feature(ip ping diagnostic) for chinatelecom
  
config TCSUPPORT_CT_ADSLSETTING
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_ADSLSETTING Support"
	help
	      set adsl type and mode

config TCSUPPORT_CT_WLAN_NODE
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_WLAN_NODE Support"
	help
		  Support Cwmp WLan

config TCSUPPORT_CT_RECONNECT_NODE
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_RECONNECT_NODE Support"
	help
		  Support Cwmp RECONNECT

config TCSUPPORT_CT_IPTV_NODE
	depends on TCSUPPORT_CT && TCSUPPORT_DHCP_PROFILE
	bool "TCSUPPORT_CT_IPTV_NODE Support"
	help
		  Support Cwmp IPTV
 
config TCSUPPORT_CT_INFORM_NODE
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_INFORM_NODE Support"
	help
		  Support manual inform and maitenance inform

config TCSUPPORT_CT_ALARMMONITOR 
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_ALARMMONITOR Support"
	help
	      Support device alarm and monitor  

config TCSUPPORT_CT_ALGABILITY 
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_ALGABILITY Support"
	help
	      Support ALG Switch TR069 Node 
config TCSUPPORT_CT_DEVICEREG
	bool "TCSUPPORT_CT_DEVICEREG Support"
	help
		  TC Support Device Registration
config TCSUPPORT_CT_DNSBIND
	bool "TCSUPPORT_CT_DNSBIND Support"
	help 
		 set dns bind
config TCSUPPORT_CT_DEFAULTPARA_STORE
	depends on TCSUPPORT_BACKUPROMFILE
	bool "TCSUPPORT_CT_DEFAULTPARA_STORE Support"
	help 
		 default parameter store on flash
config TCSUPPORT_CT_PPPCONN_ERROR 
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_PPPCONN_ERROR Support"
	help
	      Support cwmp last ppp connection error 

config TCSUPPORT_CT_FTP_DOWNLOADCLIENT 
	depends on TCSUPPORT_USB_AUTOMOUNT
	bool "TCSUPPORT_CT_FTP_DOWNLOADCLIENT Support"
	help
	      Support FTP DOWNLOAD CLIENT 

config TCSUPPORT_CT_USB_BACKUPRESTORE 
	depends on TCSUPPORT_USB_AUTOMOUNT
	bool "TCSUPPORT_CT_USB_BACKUPRESTORE Support"
	help
	      Support USB BACKUP and RESTORE
config TCSUPPORT_CT_DHCPC_OPTION60
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_DHCPC_OPTION60 Support"
	help
		Support DHCP client OPTION60

config TCSUPPORT_CT_DHCPC_OPTION125
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_DHCPC_OPTION125 Support"
	help
		Support DHCP client OPTION125	

config TCSUPPORT_CT_DHCP6_OPTION
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_DHCP6_OPTION Support"
	help
		Support DHCPv6 client OPTION	
		
config TCSUPPORT_AUTO_DMZ
	bool "TCSUPPORT_AUTO_DMZ Support"
	help
		Support TRUE feature: auto DMZ
config TCSUPPORT_WEB_INTERCEPTION
	bool "TCSUPPORT_WEB_INTERCEPTION Support"
	help
		Support web redirection to adsl down page when adsl dowm and user want to access to internet for china unicom
		
config TCSUPPORT_TRUE_LANDING_PAGE
	bool "TCSUPPORT_TRUE_LANDING_PAGE Support"
	help
		Support landing page function, LAN PC will jump to some specific webpage when first access internet
config TCSUPPORT_UPNP
	bool "TCSUPPORT_UPNP Support"
	help
	      UPNP Support
	
choice
	prompt "UPNP SUPPORT"
	depends TCSUPPORT_UPNP
	
config TCSUPPORT_CLMP
	depends TCSUPPORT_CWMP
bool "TCSUPPORT_CLMP Support"
	help
	   	TR064 CLMP UPnP support
	      
config TCSUPPORT_SIMPLE_UPNP
	bool "TCSUPPORT_SIMPLE_UPNP Support"
	help
		IGD UPnP support
endchoice

config TCSUPPORT_IGMP_PROXY
	bool "TCSUPPORT_IGMP_PROXY Support"
	help
	      igmp proxy function support

config TCSUPPORT_IGMP_QUICK_LEAVE
	bool "TCSUPPORT_IGMP_QUICK_LEAVE"
	help
	      Support to send leave message ,when the same multicast group has only one member.

config TCSUPPORT_KEYPARA_STORE
	bool "TCSUPPORT_KEYPARA_STORE Support"
	help
	      store key parameters when reset default setting

config TCSUPPORT_VIR_SERVER
	bool "TCSUPPORT_VIR_SERVER Support"
	help
		Support GUI of vir server
	
config TCSUPPORT_CT_USB
	bool "TCSUPPORT_CT_USB Support"
	help
		Support USB customization for E8C
				
config TCSUPPORT_CT_DNSMASQ_MONITOR
	bool "TCSUPPORT_CT_DNSMASQ_MONITOR Support"
	help
		Support Dnsmasq monitor function,Check dnsmasq every 60 senconds, restart dnsmasq process when dnsmasq process not exist.

config TCSUPPORT_CT_BLOCK_PROCESS
	bool "TCSUPPORT_CT_BLOCK_PROCESS Support"
	help
		Support block process for CT.

config TCSUPPORT_CT_SIMCARD_SEPARATION
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	bool "TCSUPPORT_CT_SIMCARD_SEPARATION Support"
	help
		Support simcard separation.

config TCSUPPORT_CT_E8GUI_TY
	bool "TCSUPPORT_CT_E8GUI_TY Support"
	help
		support for E8GUI GuangXi TY web show

config TCSUPPORT_CT_PON
	bool "TCSUPPORT_CT_PON Support"
	help
	      Telecom PON customer feature

config TCSUPPORT_CT_PON_SLAVEIMAGE
	depends on TCSUPPORT_CT_PON
	bool "TCSUPPORT_CT_PON_SLAVEIMAGE Support"
	help
	      for build CT slave image 

config TCSUPPORT_CT_CWMP_E8BPARAMETER
	bool "TCSUPPORT_CT_CWMP_E8BPARAMETER Support"
	help
	      Telecom CWMP E8 parameter customer feature

config TCSUPPORT_CT_CWMP_WORK_COMPATIBLE
	bool "TCSUPPORT_CT_CWMP_WORK_COMPATIBLE Support"
	help
	      ITMS work order compatiblity feature
	      
config TCSUPPORT_CT_2NTP
	bool "TCSUPPORT_CT_2NTP Support"
	help
	      2NTP customer feature

config TCSUPPORT_CT_5NTP
	depends on TCSUPPORT_CT_2NTP
	bool "TCSUPPORT_CT_5NTP Support"
	help
	      5NTP customer feature

config TCSUPPORT_CT_NTPSERVERTYPE
	depends on TCSUPPORT_CT_2NTP
	bool "TCSUPPORT_CT_NTPSERVERTYPE Support"
	help
	      NTPSERVERTYPE customer feature
	      	      
config TCSUPPORT_CT_GUIACCESSLIMIT
	bool "TCSUPPORT_CT_GUIACCESSLIMIT Support"
	help
	      GUIACCESSLIMIT customer feature
	      
config TCSUPPORT_CT_ZIPROMFILE
	depends on TCSUPPORT_CT_BACKUPROMFILEENCHANCEMENT
	bool "TCSUPPORT_CT_ZIPROMFILE Support"
	help
	      ZIPROMFILE customer feature

config TCSUPPORT_CT_CWMP_ZIPROMFILE
	depends on TCSUPPORT_CT_ZIPROMFILE
	bool "TCSUPPORT_CT_CWMP_ZIPROMFILE Support"
	help
	      CWMP ZIPROMFILE customer feature

config TCSUPPORT_CT_WAN_PTM
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_WAN_PTM Support"
	help
	      CT E8B VDSL support   

config TCSUPPORT_IMPROVE_GUI_PERFM
	bool "TCSUPPORT_IMPROVE_GUI_PERFM Support"
	help
	      Support tcWebApi_constSet 

config TCSUPPORT_CT_VLAN_TAG
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_VLAN_TAG Support"
	help
	      CT e8 vlan support 

config TCSUPPORT_CT_STANDARD_E8B
	bool "TCSUPPORT_CT_STANDARD_E8B Support"
	help
	      Telecom standard E8B customer feature
	      
config TCSUPPORT_CT_STANDARD_E8C
	bool "TCSUPPORT_CT_STANDARD_E8C Support"
	help
	      Telecom standard E8C customer feature

config TCSUPPORT_CT_WANNODE_MAPPING
	bool "TCSUPPORT_CT_WANNODE_MAPPING Support"
	help
	      TCSUPPORT_CT_WANNODE_MAPPING customer feature
	     
config TCSUPPORT_CT_POPLUARIZE_E8B
	bool "TCSUPPORT_CT_POPLUARIZE_E8B Support"
	help
	      Telecom popluarize E8B customer feature

config TCSUPPORT_CT_VLAN_BIND
	bool "TCSUPPORT_CT_VLAN_BIND Support"
	help
	      Telecom VLAN bind customer feature	   	      

config TCSUPPORT_CT_FULL_ROUTE
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_FULL_ROUTE Support"
	help
	      Support  E8B full route feature.
	      
config TCSUPPORT_CT_WAN_STAT
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_WAN_STAT Support"
	help
	      Show Wan Mac in status webpage   
	      
config TCSUPPORT_CT_DUAL_IMAGE
	depends on TCSUPPORT_CT && TCSUPPORT_DUAL_IMAGE 
	bool "TCSUPPORT_CT_DUAL_IMAGE Support"
	help
	      Support dual image   

config TCSUPPORT_CT_WAN_CHILD_PREFIX
	depends on TCSUPPORT_IPV6
	bool "TCSUPPORT_CT_WAN_CHILD_PREFIX Support"
	help
	      generate new ipv6 prefix by childprefix.

config TCSUPPORT_CT_HWQOS
	depends on TCSUPPORT_CPU_MT7510 || TCSUPPORT_CPU_MT7520
	bool "TCSUPPORT_CT_HWQOS Support"
	help
	      Support HW QoS  

config TCSUPPORT_CT_DHCP6C_STATUS_CODE
	depends on TCSUPPORT_IPV6
	bool "TCSUPPORT_CT_DHCP6C_STATUS_CODE Support"
	help
	     	handle NoPrefix or NoAddr in DHCP6c.
	      
config TCSUPPORT_CT_E8B_ADSL
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_E8B_ADSL Support"
	help
	      Support general E8B Adsl feature.  

config TCSUPPORT_CT_IPV4_RADIO
	depends on TCSUPPORT_CT && TCSUPPORT_IPV6 
	bool "TCSUPPORT_CT_IPV4_RADIO Support"
	help
	      Support ipv4 radio

config TCSUPPORT_CT_7510_E2
	depends on TCSUPPORT_CT && TCSUPPORT_CPU_MT7510 
	bool "TCSUPPORT_CPU_MT7510 Support"
	help
	      Support 7510 E2 version


config TCSUPPORT_CT_SYSTEM_EX
	depends on TCSUPPORT_CT 
	bool "TCSUPPORT_CT_SYSTEM_EX Support"
	help
	      System() support timeout mechanism

config TCSUPPORT_CT_DSLITE
	depends on TCSUPPORT_CT && TCSUPPORT_DSLITE 
	bool "TCSUPPORT_CT_DSLITE Support"
	help
	      Support dslite

config TCSUPPORT_CT_BRIDGEARP_NOFWD_LAN
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_BRIDGEARP_NOFWD_LAN Support"
	help
	      Support bridge no forward special arp feature.

config TCSUPPORT_CT_DSL_EX
	depends on TCSUPPORT_CT 
	bool "TCSUPPORT_CT_DSL_EX Support"
	help
	      Support ATM/PTM wan, with seperated node.

config TCSUPPORT_CT_UPNP_DM
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	bool "TCSUPPORT_CT_UPNP_DM Support"
	help
	      Support UPnP DM

config TCSUPPORT_CT_SERVICELIST_E8C
	depends on TCSUPPORT_CT  
	bool "TCSUPPORT_CT_SERVICELIST_E8C Support"
	help
	      Support ServiceList support voice...

config TCSUPPORT_CT_VOIP_H248
	depends on TCSUPPORT_CT && TCSUPPORT_VOIP
	bool "TCSUPPORT_CT_VOIP_H248 Support"
	help
	      Support VoIP H248.	    
	      
config VP_MEGACO
	depends on TCSUPPORT_CT_VOIP_H248 
	bool "VP_MEGACO Support"
	help
	     Support H.248
	            	      
config TCSUPPORT_CT_VOIP_SIP
	depends on TCSUPPORT_CT && TCSUPPORT_VOIP
	bool "TCSUPPORT_CT_VOIP_SIP Support"
	help
	      Support VoIP SIP.	 

config TCSUPPORT_VOIP_IMSSIP
	depends on TCSUPPORT_CT_VOIP_SIP 
	bool "TCSUPPORT_VOIP_IMSSIP Support"
	help
	      Support imssip  


config TCSUPPORT_CT_VOIP_QOS
	depends on TCSUPPORT_CT  
	bool "TCSUPPORT_CT_VOIP_QOS Support"
	help
	      Support Qos VOICE template

config TCSUPPORT_CT_FTP_BACKDOOR
	depends on TCSUPPORT_CT  
	bool "TCSUPPORT_CT_FTP_BACKDOOR Support"
	help
	      Support FTP can access root dir
 
config TCSUPPORT_CUC
	bool "TCSUPPORT_CUC Support"
	select TCSUPPORT_HGU_OMCI_MIB_UPLOAD_PPTP_ETH_UNI
	help
	      Support China Unicom
		
config TCSUPPORT_CUC_DUAL_IMAGE
	depends on TCSUPPORT_CUC
	bool "TCSUPPORT_CUC_DUAL_IMAGE"
	help
	      Support cuc dual image.
	      
config TCSUPPORT_CUC_GUI
	depends on TCSUPPORT_CUC  
	bool "TCSUPPORT_CUC_GUI Support"
	help
	      Support CUC GUI.
	      
config TCSUPPORT_CUC_2PORT
	depends on TCSUPPORT_CUC  
	bool "TCSUPPORT_CUC_2PORT Support"
	help
	      Support CUC 2PORT.

config TCSUPPORT_CUC_QOS
	depends on (TCSUPPORT_CT && TCSUPPORT_CUC)
	bool "TCSUPPORT_CUC_QOS Support"
	help
	      Support Unicom QoS

config TCSUPPORT_CUC_SFU
	depends on TCSUPPORT_CUC  
	bool "TCSUPPORT_CUC_SFU Support"
	help
	      Support CUC TCSUPPORT_CUC_SFU.

config TCSUPPORT_CUC_CWMP_PARAMETER
	depends on TCSUPPORT_CUC  
	bool "TCSUPPORT_CUC_CWMP_PARAMETER Support"
	help
	      CUC CWMP parameter customer feature

config TCSUPPORT_CUC_VOIP_SKY
	depends on TCSUPPORT_CUC  
	bool "TCSUPPORT_CUC_VOIP_SKY Support"
	help
	      Support TCSUPPORT_CUC_VOIP_SKY for DT721&DT521 with different slic chip.
	      
config TCSUPPORT_CUC_LANDING_PAGE
	depends on TCSUPPORT_CUC
	bool "TCSUPPORT_CUC_LANDING_PAGE Support"
	help
	      CUC Landing page customer feature
	      
config TCSUPPORT_CUC_VOIP_NODE
	depends on TCSUPPORT_CUC
	bool "TCSUPPORT_CUC_VOIP_NODE Support"
	help
	      Support CUC VOIP node
	      
config TCSUPPORT_TXPOWER_INVERSE
	bool "TCSUPPORT_TXPOWER_INVERSE Support"
	help
	      Tx power Inverse.
	    
config TCSUPPORT_CUC_C5_4P
	depends on TCSUPPORT_CUC
	bool "TCSUPPORT_CUC_C5_4P Support"
	help
	      Support CUC C5 4P 
	    
config TCSUPPORT_CUC_C5_2P
	depends on TCSUPPORT_CUC
	bool "TCSUPPORT_CUC_C5_2P Support"
	help
	      Support CUC C5 2P       
	            	    
config TCSUPPORT_CUC_C5_SFU
	depends on TCSUPPORT_CUC
	bool "TCSUPPORT_CUC_C5_SFU Support"
	help
	      Support CUC C5 SFU    	
	      
	            	    
config TCSUPPORT_CUC_FJ_SFU
	depends on TCSUPPORT_CUC
	bool "TCSUPPORT_CUC_FJ_SFU Support"
	help
	      Support CUC FuJian SFU          
  
config TCSUPPORT_VOIP_1FXSPORT
	bool "TCSUPPORT_VOIP_1FXSPORT Support"
	help
	      Support 1FXS PORT for VOIP     	      
  
config TCSUPPORT_CT_DHCP_PORT_FILTER
	bool "TCSUPPORT_CT_DHCP_PORT_FILTER Support"
	help
	      Support CT DHCP Port filter

config TCSUPPORT_CT_ITMS_TMOUT
	bool "TCSUPPORT_CT_ITMS_TMOUT Support"
	help
	      Support CT ITMS TIMEOUT.	      

config TCSUPPORT_CY
	bool "TCSUPPORT_CY"
	help
	      Support CT CY.
	      

config TCSUPPORT_CT_PON_CY
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_PON_CY"
	help
	      Support CT PON CY.

config TCSUPPORT_CT_PON_CJZ
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_PON_CJZ"
	help
	      Support CT PON CJZ.

config TCSUPPORT_CT_PON_CJ
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_PON_CJ"
	help
	      Support CT PON CJ.

config TCSUPPORT_CT_PON_CN
	bool "TCSUPPORT_CT_PON_CN Support"
	help
	      Support PON CN.
	      
config TCSUPPORT_CT_PON_CN_CN
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_PON_CN_CN"
	help
	      Support CT PON CN CN.
      
config TCSUPPORT_CT_PON_CN_JS
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_PON_CN_JS"
	help
	      Support CT PON CN JS.
	      
config TCSUPPORT_CT_SFU_SK
	bool "TCSUPPORT_CT_SFU_SK"
	help
	      Support CT SFU SK.
	      
config TCSUPPORT_CT_SFU_SX
	bool "TCSUPPORT_CT_SFU_SX"
	help
	      Support CT SFU SX.

config TCSUPPORT_CT_PON_SK
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_PON_SK"
	help
	      Support CT PON SK.
	      
config TCSUPPORT_CT_PON_C9
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_PON_C9"
	help
	      Support CT PON C9.

config TCSUPPORT_PON_ROSTELECOM
	bool "TCSUPPORT_PON_ROSTELECOM"
	help
	      Support PON ROSTELECOM.
 
config TCSUPPORT_C9_ROST_LED
	bool "TCSUPPORT_C9_ROST_LED"
	help
	      Support CT PON C9 ROSTelecom LED.	      
	      
config TCSUPPORT_CT_OMCI_CFG_SHRINK
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_OMCI_CFG_SHRINK"
	help
	      Support CT OMCI CFG_MANAGER CODE SHRINK.     
	      
config TCSUPPORT_CT_PON_C5
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_PON_C5"
	help
	      Support CT PON C5.
 
config TCSUPPORT_CT_PON_C7
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_PON_C7"
	help
	      Support CT PON C7.

config TCSUPPORT_ALPHION_PON
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_ALPHION_PON"
	help
	      Support ALPHION PON.

config TCSUPPORT_CT_PON_SMALLSYSTEM
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_PON_SMALLSYSTEM"
	help
	      Support small system.
	      
config TCSUPPORT_CT_PON_BIGSYSTEM
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_PON_BIGSYSTEM"
	help
	      Support dual system, slave is same as main.
	      
config TCSUPPORT_C7
	bool "TCSUPPORT_C7"
	help
	      Support CT C7.

config TCSUPPORT_CT_PROLINE_SUPPORT
	bool "TCSUPPORT_CT_PROLINE_SUPPORT"
	help
	      Support CT PROLINE.
	      
config TCSUPPORT_CT_WLAN_WAPI
	depends TCSUPPORT_WLAN
	bool "TCSUPPORT_CT_WLAN_WAPI Support"
	help
		Support WLAN WAPI	      
		
config TCSUPPORT_CUC_TIME_DISPLAY
	depends on TCSUPPORT_CUC
	bool "TCSUPPORT_CUC_TIME_DISPLAY Support"
	help
		Support CUC time display     
				
config TCSUPPORT_CT_FJ
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_FJ Support"
	help
	      Support FuJian CT

config TCSUPPORT_CT_PON_C9_HUN
	depends on TCSUPPORT_CT_PON_C9
	bool "TCSUPPORT_CT_PON_C9_HUN"
	help
	      Support CT PON C9 HUN.

config TCSUPPORT_CT_LONG_RESETBTN
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_LONG_RESETBTN Support"
	help
	      Support long reset button press feature.

config TCSUPPORT_CT_PPP_ONDEMAND
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_PPP_ONDEMAND Support"
	help
	      Support wan pppoe ondemand feature.

config TCSUPPORT_CT_PPP_MANUALLY
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_PPP_MANUALLY Support"
	help
	      Support wan pppoe manually feature.

config TCSUPPORT_CT_ADV_DNSPROXY
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_ADV_DNSPROXY Support"
	help
	      Support advance dns proxy feature.

config TCSUPPORT_CY_E8_SFU
	bool "TCSUPPORT_CY_E8_SFU Support"
	help
		Support E8 SFU

config TCSUPPORT_RESERVEAREA_EXTEND
	bool "TCSUPPORT_RESERVEAREA_EXTEND Support"
	help
		Support proline command for youhua.

config TCSUPPORT_CT_ECN_GZ
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_ECN_GZ Support"
	help
	      ECN for GZ customer feature.

config TCSUPPORT_CT_NEWGUI
	depends on TCSUPPORT_CT_PON
	bool "TCSUPPORT_CT_NEWGUI Support"
	help
	      Support CT NEW GUI

config TCSUPPORT_CT_2PORTS
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_2PORTS Support"
	help
		Support 2 LAN Ports for CT.

config TCSUPPORT_CT_1PORT
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_1PORT Support"
	help
		Support 1 LAN Port for CT.
		
config TCSUPPORT_CT_1FXS
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_1FXS Support"
	help
		Support 1 FXS for CT.

config TCSUPPORT_LED_SWITCH_BUTTON
	depends on TCSUPPORT_CT_PON
	bool "TCSUPPORT_LED_SWITCH_BUTTON"
	help
		Support LED switch by software.
	
config TCSUPPORT_CT_DIAG_MICROSECOND
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	bool "TCSUPPORT_CT_DIAG_MICROSECOND Support"
	help
	      Support CT DIAG MICROSECOND.

config TCSUPPORT_CT_MONITORCOLLECTOR
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	bool "TCSUPPORT_CT_MONITORCOLLECTOR Support"
	help
	      Support CT MONITOR COLLECTOR.

config TCSUPPORT_CT_PPPOE_EMULATOR
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	bool "TCSUPPORT_CT_PPPOE_EMULATOR Support"
	help
	      Support CT PPPOE EMULATOR.

config TCSUPPORT_CT_PPPOE_IPV6_EMULATOR
	depends on TCSUPPORT_CT_PPPOE_EMULATOR && TCSUPPORT_CT_VLAN_TAG && TCSUPPORT_IPV6_ENHANCEMENT
	bool "TCSUPPORT_CT_PPPOE_IPV6_EMULATOR Support"
	help
	      Support CT PPPOE V6 EMULATOR.

config TCSUPPORT_CY_PON
	bool "TCSUPPORT_CY_PON Support"
	help
		support YH customer requirment for PON.

config TCSUPPORT_HW_SW_FWVER
	bool "TCSUPPORT_HW_SW_FWVER"
	help
		support show software and hardware version in status page.

config TCSUPPORT_CT_PON_GD
	bool "TCSUPPORT_CT_PON_GD"
	help
		Support Guangdong tele. register flow.

config TCSUPPORT_CT_PON_GDV20
	bool "TCSUPPORT_CT_PON_GDV20"
	help
		Support Guangdong V20.
		
config TCSUPPORT_CT_PON_SC
	bool "TCSUPPORT_CT_PON_SC"
	select TCSUPPORT_CT_PPP_ONDEMAND_WEBUI
	help
		Support Sichuan tele. register flow.
		
config TCSUPPORT_CT_PON_CQ
	bool "TCSUPPORT_CT_PON_CQ"
	help
		Support Chongqing tele.		
		
config TCSUPPORT_CT_UPG_PINGPONG
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_UPG_PINGPONG"
	help
		Support ping pong upgrade.

config TCSUPPORT_CT_REMOTE_UPG_WEBREDIRECT
	bool "TCSUPPORT_CT_REMOTE_UPG_WEBREDIRECT"
	help
	      Support REMOTE UPG WEBREDIRECT.

config TCSUPPORT_CT_DEV_ACCESS_TYPE
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	bool "TCSUPPORT_CT_DEV_ACCESS_TYPE"
	help
		Support inform itms device access type.
		
config TCSUPPORT_CT_PON_YN
	bool "TCSUPPORT_CT_PON_YN"
	help
		Support YN customer.

config TCSUPPORT_CT_PON_NX
	bool "TCSUPPORT_CT_PON_NX"
	help
		Support NX customer.
		
config TCSUPPORT_CT_PON_GS
	bool "TCSUPPORT_CT_PON_GS"
	help
		Support GS customer.

config TCSUPPORT_CT_DEVREG_PROV_CODE
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	bool "TCSUPPORT_CT_DEVREG_PROV_CODE"
	help
		Support inform itms device provision code.

config TCSUPPORT_ASB_VECTOR
	bool "TCSUPPORT_ASB_VECTOR"
	help
	      Support CT ASB G.Vector function.

config TCSUPPORT_CT_UPLOAD_ALLINONE
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_UPLOAD_ALLINONE Support"
	help
	      Support CT UPLOAD ALLINONE FILE.
	      
	      
config TCSUPPORT_CT_WANNINDEX_INCREASE
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	bool "TCSUPPORT_CT_WANNINDEX_INCREASE Support"
	help
	      Support WAN connection index add is increased.

config TCSUPPORT_CT_PON_NMG
	bool "TCSUPPORT_CT_PON_NMG"
	help
	      Support E8 NMG HGU.

config TCSUPPORT_CT_PON_SN
	bool "TCSUPPORT_CT_PON_SN"
	help
	      Support ShanXi E8 HGU.
	      
config TCSUPPORT_CT_PHONEAPP
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_PHONEAPP"
	help
	      Support CT PHONEAPP.
	      	      
config TCSUPPORT_CT_JOYME
	depends on (TCSUPPORT_CT)
	bool "TCSUPPORT_CT_JOYME"
	help
	      Support CT JOYME.	      

config TCSUPPORT_CT_OPENJDK
	depends on (TCSUPPORT_CT_JOYME)
	bool "TCSUPPORT_CT_OPENJDK"
	help
	      Support CT OPENJDK.   

config TCSUPPORT_CT_JOYME2
	depends on (TCSUPPORT_CT)
	bool "TCSUPPORT_CT_JOYME2"
	help
	      Support CT JOYME2.	      
		  
config TCSUPPORT_CT_JOYME4
	depends on (TCSUPPORT_CT)
	bool "TCSUPPORT_CT_JOYME4"
	help
	      Support CT JOYME4.	

config TCSUPPORT_CT_JOYME_BANDWIDTH
	depends on (TCSUPPORT_CT)
	bool "TCSUPPORT_CT_JOYME_BANDWIDTH"
	help
	      Support query and set bandwidth.
	      
config TCSUPPORT_CT_OSGI
	depends on (TCSUPPORT_CT_JOYME)
	bool "TCSUPPORT_CT_OSGI"
	help
	      Support CT OSGI.	 
	      	      
config TCSUPPORT_CT_DHCP_FORCERENEW
	bool "TCSUPPORT_CT_DHCP_FORCERENEW"
	help
	      Support DHCP FORCERENEWE.
	      
config TCSUPPORT_CT_DHCP_ARPPING
	bool "TCSUPPORT_CT_DHCP_ARPPING"
	help
	      Support DHCP ARP PING.
	  
config TCSUPPORT_CT_PON_BIND2
	bool "TCSUPPORT_CT_PON_BIND2"
	help
	      Support BIND2 inform.
	      
config TCSUPPORT_CT_PON_JS
	bool "TCSUPPORT_CT_PON_JS"
	help
	      Support Jiangsu E8 HGU.

config TCSUPPORT_CT_PON_JS_IP
	depends on TCSUPPORT_CT && TCSUPPORT_CT_PON_JS
	bool "TCSUPPORT_CT_PON_JS_IP"
	help 
	      Support Jiangsu Intelligent Phone.

config TCSUPPORT_CT_VOIP_CRYPT
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_CT_VOIP_CRYPT"
	help 
	      Support VOIP password encryption.

config TCSUPPORT_CT_PON_GX
	bool "TCSUPPORT_CT_PON_GX"
	help
	      Support Guangxi tele. register flow.

config TCSUPPORT_CT_SFU_C9
	bool "TCSUPPORT_CT_SFU_C9"
	help
	      Support SFU C9.

config TCSUPPORT_CT_C9
	bool "TCSUPPORT_CT_C9"
	help
	      Support SFU C9 Web Page.

config TCSUPPORT_CT_PORTSLIMIT
	depends on TCSUPPORT_CT && TCSUPPORT_CT_VLAN_TAG
	bool "TCSUPPORT_CT_PORTSLIMIT Support"
	help
	      Support CT WAN/LAN port access limit.


config TCSUPPORT_C7_CU
	depends on TCSUPPORT_C7
	bool "TCSUPPORT_C7_CU"
	help
	      Support CT C7 CU.

config TCSUPPORT_CT_IPOE_EMULATOR
	depends on (TCSUPPORT_CT_VLAN_TAG && TCSUPPORT_CT_PON && TCSUPPORT_CT_DHCPC_OPTION60 && !TCSUPPORT_CUC)
	bool "TCSUPPORT_CT_IPOE_EMULATOR Support"
	help
	      Support CT IPoE Emulator.

config TCSUPPORT_TR69_IP_HOST
	depends on TCSUPPORT_CT
	bool "TCSUPPORT_TR69_IP_HOST"
	help
	      Support  TR69 IP_HOST.

config TCSUPPORT_CT_PPPINFORM
	bool "TCSUPPORT_CT_PPPINFORM"
	help
	      Support GD E8B.

config TCSUPPORT_CT_AUTOREGISTER
	bool "TCSUPPORT_CT_AUTOREGISTER"
	help
	      Support HN E8B.

config TCSUPPORT_CT_C5_HEN_SFU
	bool "TCSUPPORT_CT_C5_HEN_SFU"
	help
	      Support TCSUPPORT_CT_C5_HEN_SFU.

config TCSUPPORT_ECN_SIP
	bool "TCSUPPORT_ECN_SIP SUPPORT"
	depends TCSUPPORT_NEVER_CHOSEN
	help
	      For fix issue: else code is removed in open source.
	      
config TCSUPPORT_ECN_MEGACO
	bool "TCSUPPORT_ECN_MEGACO SUPPORT"
	depends TCSUPPORT_NEVER_CHOSEN
	help
	      For fix issue: else code is removed in open source.

config TCSUPPORT_PON_FH
	bool "TCSUPPORT_PON_FH"
	help
	      Support FH HGU information .

config TCSUPPORT_FWC_ENV
	bool "TCSUPPORT_FWC_ENV"
	help
	      Support feature for FHC.	      

config TCSUPPORT_FWC_QOS
	bool "TCSUPPORT_FWC_QOS"
	help
	      Support QOS function for FWC.	   	        

config TCSUPPORT_FWC_TRAFFIC_CLASSIFY
	bool "TCSUPPORT_FWC_TRAFFIC_CLASSIFY"
	help
	      Support feature for FHC.	    
	      
config TCSUPPORT_FWC_MCST
	bool "TCSUPPORT_FWC_MCST"
	help
	      Support multicast feature for FHC. 

config TCSUPPORT_CT_PON_JX
	bool "TCSUPPORT_CT_PON_JX"
	depends on TCSUPPORT_CT_PON
	help
	      Support CT PON JiangXi Customer feautre.

config TCSUPPORT_CT_PON_QH
	bool "TCSUPPORT_CT_PON_QH"
	depends on TCSUPPORT_CT_PON
	help
	      Support CT PON QingHai Customer feautre.

config TCSUPPORT_CT_PON_CZ_QH
	bool "TCSUPPORT_CT_PON_CZ_QH"
	depends on TCSUPPORT_CT_PON
	help
	      Support CT PON QingHai Customer feautre for ZTE.
	      
config TCSUPPORT_CT_STBMAC_REPORT
	bool "TCSUPPORT_CT_STBMAC_REPORT"
	depends on TCSUPPORT_CT_PON
	help
	      Support CT PON STB MAC cwmp report.

config TCSUPPORT_CT_PMINFORM
	depends on (TCSUPPORT_CT_PON && !TCSUPPORT_CUC)
	bool "TCSUPPORT_CT_PMINFORM Support"
	help
	      Support CT PERFORMANCE INFORM.

config TCSUPPORT_CT_ADSL_HN
	bool "TCSUPPORT_CT_ADSL_HN"
	depends on TCSUPPORT_CT_E8B_ADSL
	help
	      Support Route/Bridge mode switch.

config TCSUPPORT_C7_CUC
	depends on TCSUPPORT_C7
	bool "TCSUPPORT_C7_CUC"
	help
	      Support CT C7 CUC.

config TCSUPPORT_CT_PON_ONUCONFIG
	bool "TCSUPPORT_CT_PON_ONUCONFIG"
	depends on TCSUPPORT_CT_PON
	help
	      Support CT PON ONU CONFIG.

config TCSUPPORT_CT_PON_HUB
	bool "TCSUPPORT_CT_PON_HUB"
	depends on TCSUPPORT_CT_PON
	help
	      Support CT PON Hubei Customer feautre.
	      
config TCSUPPORT_CT_PPP_ONDEMAND_WEBUI
	bool "TCSUPPORT_CT_PPP_ONDEMAND_WEBUI"
	depends on (TCSUPPORT_CT && TCSUPPORT_CT_PPP_ONDEMAND && !TCSUPPORT_CUC)
	help
	      Support CT PPP Ondemand UI Customer feautre.
	      
	      
config TCSUPPORT_CT_PON_FHT
	bool "TCSUPPORT_CT_PON_FHT"
	depends on TCSUPPORT_CT
	help
	      Support FHT Customer feautre.

config TCSUPPORT_CT_TR143_WGET_DOWNLOAD
	bool "TCSUPPORT_CT_TR143_WGET_DOWNLOAD"
	depends on TCSUPPORT_CT && TCSUPPORT_CWMP_TR143
	help
	      Support CT TR143 Download Via Wget Customer feautre.

config TCSUPPORT_CT_ADSL_TJ
	bool "TCSUPPORT_CT_ADSL_TJ"
	select TCSUPPORT_CT_ADSL_BIND1
	select TCSUPPORT_CT_NAMECHGNOTIFY
	depends on TCSUPPORT_CT_E8B_ADSL
	help
	      Support CT AD TianJin Customer feautre.

config TCSUPPORT_CT_STB_TEST
	bool "TCSUPPORT_CT_STB_TEST"
	depends on TCSUPPORT_CT
	help
	      Support CT STB Test feautre.
	      
config TCSUPPORT_CT_ADSL_BIND1
	bool "TCSUPPORT_CT_ADSL_BIND1"
	depends on TCSUPPORT_CT_E8B_ADSL
	help
	      Support CT AD BIND1 feautre.

config TCSUPPORT_CT_NAMECHGNOTIFY
	bool "TCSUPPORT_CT_NAMECHGNOTIFY"
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	help
	      Support CT name change report feautre.

config TCSUPPORT_CT_PON_CA
	bool "TCSUPPORT_CT_PON_CA"
	depends on TCSUPPORT_CT_PON
	help
	      Support CT PON CA.
	      
config TCSUPPORT_CATV_GD
	bool "TCSUPPORT_CATV_GD"
	depends on TCSUPPORT_CT
	help
	      Support CATV GD.
	      	      
config TCSUPPORT_CMCC
	bool "TCSUPPORT_CMCC"
	depends on TCSUPPORT_CT
	help
	      Support CMCC.

config TCSUPPORT_CMCC_GANSU
	bool "TCSUPPORT_CMCC_GANSU"
	depends on TCSUPPORT_CMCC
	help
	      Support CMCC GANSU.


config TCSUPPORT_CSC_EEUROPE
	bool "TCSUPPORT_CSC_EEUROPE"
	help
	      Support SERCOMM EEUROPE.
	      
config TCSUPPORT_CT_PON_HLJ
	bool "TCSUPPORT_CT_PON_HLJ"
	depends on TCSUPPORT_CT
	help
	      Support CT PON HLJ.

config TCSUPPORT_CMCC_ENTERPRISE
	depends TCSUPPORT_CMCC
	bool "TCSUPPORT_CMCC_ENTERPRISE Support"
	help
		Support CMCC enterprise
	    
config TCSUPPORT_PON_IP_HOST_AUTOWAN_VOICE
	bool "TCSUPPORT_PON_IP_HOST_AUTOWAN_VOICE"
	depends on TCSUPPORT_PON_IP_HOST
	help
     	  Support PON IP HOST AUTOWAN VOICE.

config TCSUPPORT_CT_PON_CY_JX
	bool "TCSUPPORT_CT_PON_CY_JX"
	depends on TCSUPPORT_CT_PON_CY
	help
	      Support youhua jiangxi CT.	      	      

config TCSUPPORT_CT_DS_LIMIT
	bool "TCSUPPORT_CT_DS_LIMIT"
	depends on TCSUPPORT_CT
	help
	      Support Data Speed Limit.
	      	      
config TCSUPPORT_CT_TRACEROUTEIPV6
	bool "TCSUPPORT_CT_TRACEROUTEIPV6"
	depends on TCSUPPORT_CT
	help
	      Support IPv6 traceroute.

config TCSUPPORT_CT_PON_CAU
	bool "TCSUPPORT_CT_PON_CAU"
	depends on TCSUPPORT_CT
	help
	      Support CT PON CAU.

config TCSUPPORT_CT_PPPERRCODE_ENHANCE
	bool "TCSUPPORT_CT_PPPERRCODE_ENHANCE"
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	help
	      Support PPP custom error code.

config TCSUPPORT_CT_BRIDGE_PPPSTATUS
	bool "TCSUPPORT_CT_BRIDGE_PPPSTATUS"
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	help
	      Support brige custom status code.

config TCSUPPORT_CT_PON_BIND2_WEB
	bool "TCSUPPORT_CT_PON_BIND2_WEB"
	depends on TCSUPPORT_CT_PON_BIND2
	help
	      Custom register webpage for TCSUPPORT_CT_PON_BIND2.

config TCSUPPORT_CT_MAXNET_DPI
	bool "TCSUPPORT_CT_MAXNET_DPI"
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	help
	      Support maxnet DPI.
	      
config TCSUPPORT_CUC_PON_SD
	bool "TCSUPPORT_CUC_PON_SD"
	depends on TCSUPPORT_CUC
	help
	      Support shandong cuc.
	      
config TCSUPPORT_CT_PON_CZ_GD
	bool "TCSUPPORT_CT_PON_CZ_GD"
	depends on TCSUPPORT_CT
	help
	      Support ZTE GDCT.

config TCSUPPORT_CT_LAN_BYPASS
	bool "TCSUPPORT_CT_LAN_BYPASS"
	depends on TCSUPPORT_CT
	help
	      Support CT lan bypass feautre.

config TCSUPPORT_CT_PON_CZ_GX
	bool "TCSUPPORT_CT_PON_CZ_GX"
	depends on TCSUPPORT_CT
	help
	      Support ZTE GXCT.
	      
config TCSUPPORT_CT_PON_CZ_NX
	bool "TCSUPPORT_CT_PON_CZ_NX"
	depends on TCSUPPORT_CT
	help
	      Support ZTE NXCT.	
	      
config TCSUPPORT_CT_PON_CZ_GZ
	bool "TCSUPPORT_CT_PON_CZ_GZ"
	depends on TCSUPPORT_CT
	help
	      Support ZTE GZCT.
	      
config TCSUPPORT_CT_TY_LOGO
	bool "TCSUPPORT_CT_TY_LOGO"
	depends on TCSUPPORT_CT
	help
	      Support CT TianYi LOGO.  	 
     
config TCSUPPORT_CT_PON_CZ_GDCS
	bool "TCSUPPORT_CT_PON_CZ_GDCS"
	depends on TCSUPPORT_CT_PON
	help
	      Support ZTE GDCS.

config TCSUPPORT_CT_L2TP_VPN
	bool "TCSUPPORT_CT_L2TP_VPN"
	depends on TCSUPPORT_CT
	help
	      Support CT L2TP VPN feautre.

config TCSUPPORT_CT_PON_CZ_CQ
	bool "TCSUPPORT_CT_PON_CZ_CQ"
	depends on TCSUPPORT_CT_PON
	help
	      Support ZTE CQCT.   

config TCSUPPORT_CT_PON_CZ_HN
	bool "TCSUPPORT_CT_PON_CZ_HN"
	depends on TCSUPPORT_CT_PON
	help
	      Support ZTE HNCT.	

config TCSUPPORT_XPON_HYBIRD
	bool "TCSUPPORT_XPON_HYBIRD"
	help
		ONU work in HYBIRD mode

config TCSUPPORT_CMCCV2
	bool "TCSUPPORT_CMCCV2"
	depends on TCSUPPORT_CMCC
	help
	      Support CMCC V2.

config TCSUPPORT_CMCC_WLAN_ENHANCE
	depends TCSUPPORT_WLAN
	bool "TCSUPPORT_CMCC_WLAN_ENHANCE Support"
	help
	     need to use for ixia multi sta test

config TCSUPPORT_CMCC_WLAN_FORCEROAM
	depends TCSUPPORT_WLAN
	bool "TCSUPPORT_CMCC_WLAN_FORCEROAM Support"
	help
	     Support CMCC WiFi Force Roaming

config TCSUPPORT_CT_WLAN_JOYME3
	depends TCSUPPORT_WLAN
	bool "TCSUPPORT_CT_WLAN_JOYME3 Support"
	help
	     Support CT JOYME3 WiFi related function

config TCSUPPORT_XPON_HAL_API_NG
	bool "TCSUPPORT_XPON_HAL_API_NG Support"
	help
		support HAL API for customer NG

config TCSUPPORT_MULTI_USER_ITF
	bool "TCSUPPORT_MULTI_USER_ITF"
	depends on TCSUPPORT_CT
	help
	      Support custom user itf 
		
config TCSUPPORT_CT_DBUS
	bool "TCSUPPORT_CT_DBUS"
	depends on TCSUPPORT_CT
	help
	      Support ct dbus

config TCSUPPORT_CT_VPN_ONDEMAND
	bool "TCSUPPORT_CT_VPN_ONDEMAND"
	depends on TCSUPPORT_CT
	help
	      Support CT VPN ONDEMAND
	      
config TCSUPPORT_CT_VPN_PPTP
	bool "TCSUPPORT_CT_VPN_PPTP"
	depends on TCSUPPORT_CT
	help
	      Support CT VPN PPTP

config TCSUPPORT_CT_MAP_INSIDE_AGENT
	depends on (TCSUPPORT_ECNT_MAP_ENHANCE && TCSUPPORT_CT)
	bool "TCSUPPORT_CT_MAP_INSIDE_AGENT Support"
	help
	     Support joyme4 map inside agent

config TCSUPPORT_CT_SDN
	bool "TCSUPPORT_CT_SDN Support"
	depends on TCSUPPORT_CT && TCSUPPORT_SDN_OVS && !TCSUPPORT_SHCT_SDN
	help
	     Support joyme4 SDN function
	     
config TCSUPPORT_SHCT_SDN
	bool "TCSUPPORT_SHCT_SDN Support"
	depends on TCSUPPORT_CT && TCSUPPORT_SDN_OVS && !TCSUPPORT_CT_SDN
	help
	     Support SHCT SDN function
	     
config TCSUPPORT_CT_JOYME4
	bool "TCSUPPORT_CT_JOYME4 Support"
	depends TCSUPPORT_CT
	help
	     Support joyme4 function			

config TCSUPPORT_CT_MULTI_LAN_PD
	bool "TCSUPPORT_CT_MULTI_LAN_PD"
	depends on TCSUPPORT_CT
	help
	      Support CT MULTI LAN PD

config TCSUPPORT_CT_VRWAN
	bool "TCSUPPORT_CT_VRWAN"
	depends on TCSUPPORT_CT_MULTI_LAN_PD
	help
	      Support CT VR WAN

config TCSUPPORT_CT_UBUS
	bool "TCSUPPORT_CT_UBUS"
	depends on TCSUPPORT_CT
	help
	      Support CT UBUS 

config TCSUPPORT_BLAPI
	bool "TCSUPPORT_BLAPI"
	depends on TCSUPPORT_CT
	help
	      Support blapi

config TCSUPPORT_NP_CODE_SHRINK
	bool "TCSUPPORT_NP_CODE_SHRINK"
	depends on TCSUPPORT_NP
	help
	      Support NP CODE SHRINK 
	      
config TCSUPPORT_CHARSET_CHANGE
	bool "TCSUPPORT_CHARSET_CHANGE Support"
	help
		support charset change
		
config TCSUPPORT_NP_RAM_SHRINK
	bool "TCSUPPORT_NP_RAM_SHRINK"
	depends on TCSUPPORT_NP
	help
	      Support NP RAM SHRINK 

config TCSUPPORT_CT_IPOE_DETECT
	bool "TCSUPPORT_CT_IPOE_DETECT"
	help
	      Support CT IPOE WAN

endmenu
