menu "CUSTOMIZE VOIP menu"
depends TCSUPPORT_VOIP

	
config TCSUPPORT_ECN_SIP
	bool "TCSUPPORT_ECN_SIP SUPPORT"
	depends TCSUPPORT_VOIP
	help
	      ECN SIP Support
	      
config TCSUPPORT_ECN_MEGACO
	bool "TCSUPPORT_ECN_MEGACO SUPPORT"
	depends TCSUPPORT_VOIP
	help
	      ECN MEGACO Support	
	      
config TCSUPPORT_VOIP_SIP_DNS
	bool "TCSUPPORT_VOIP_SIP_DNS SUPPORT"
	depends TCSUPPORT_CT_VOIP_SIP && !TCSUPPORT_CT_PON_C9
	help
	      SIP DNS Support     
	      
config TCSUPPORT_VOIP_DUAL_SIP	
	depends TCSUPPORT_VOIP
	bool "TCSUPPORT_VOIP_DUAL_SIP Support"
	help
			VOIP dual sip Support
	      	      	
config TCSUPPORT_VOIP_LED_APPCTRL	
   depends TCSUPPORT_VOIP
   bool "TCSUPPORT_VOIP_LED_APPCTRL Support"
	help
	      VOIP LED control by SIP Support

config TCSUPPORT_VOIP_FLASH2_HOLD
	bool "TCSUPPORT_VOIP_FLASH2_HOLD"
	depends TCSUPPORT_VOIP
	help
	      Support voip flash2 hold.
  
config VOIP_MAX_CHAN
	int "VOIP_MAX_CHAN Support"
	default "2"
	help
	  	 VOIP max channel number support
		 	default value is 2.you must know what you do when you 
			modify this value,the value is only support to set 2,4,8,16.
  
config TCSUPPORT_VOIP_4FXS
	depends on TCSUPPORT_VOIP
	bool "TCSUPPORT_VOIP_4FXS Support"
	help
		Support 4 FXS for VOIP.
		
config TCSUPPORT_VOIP_16FXS
	bool "16fxs supporrt on en751627"
	depends on (TCSUPPORT_CPU_EN7516 || TCSUPPORT_CPU_EN7527) && TCSUPPORT_VOIP 
	help
		support 16fxs supporrt on en751627  

config CUSTOMIZE_DSP_SUPPORT
	bool "CUSTOMIZE_DSP_SUPPORT"
	help
		CUSTOMIZE DSP COMPILE OPTION SELECT
choice
	prompt "CUSTOMIZE DSP SUPPORT"
	depends CUSTOMIZE_DSP_SUPPORT
	      
config CZ_DSP_SUPPORT
	bool "CZ_DSP_SUPPORT"
	help
	      Support CZ DSP function.

config CZ_DSP_SUPPORT_BELT
	bool "CZ_DSP_SUPPORT_BELT russian"
	help 
		support CZ BELT DSP russian.
		
config C7_DSP_SUPPORT
	bool "C7_DSP_SUPPORT"
	help
	      Support C7 DSP function.
		
config TCSUPPORT_C1_MS1
	bool "TCSUPPORT_C1_MS1"
	help 
		Support TCSUPPORT_C1_MS1.
		
config TCSUPPORT_C1_MS
	bool "TCSUPPORT_C1_MS"
	help 
		Support TCSUPPORT_C1_MS.
		
config FH_DSP_SUPPORT
	bool "FH_DSP_SUPPORT"
	help 
		Support FH_DSP_SUPPORT.		
		
config CJ_DSP_SUPPORT
	bool "CJ_DSP_SUPPORT"
	help 
		Support CJ_DSP_SUPPORT.	

config CJG_DSP_SUPPORT
	bool "CJG_DSP_SUPPORT"
	help 
		Support CJG_DSP_SUPPORT.	
		
config TCSUPPORT_ACY
	bool "TCSUPPORT_ACY"
	help 
		Support TCSUPPORT_ACY.	

config CI_DSP_SUPPORT
	bool "CI_DSP_SUPPORT"
	help 
		Support CI_DSP_SUPPORT indian.			
endchoice	
		
config TCSUPPORT_CT_VOIP_JOYME4
	bool "TCSUPPORT_CT_VOIP_JOYME4"
	help 
		Support TCSUPPORT_CT_VOIP_JOYME4.	

config SLIC_LE9643_10uH_SUPPORT
	bool "SLIC_LE9643_10uH_SUPPORT"
	depends CUSTOMIZE_DSP_SUPPORT
	help 
		Support SLIC_LE9643_10uH_SUPPORT.
endmenu

